@keyframes stamp {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    95% {
        transform: scale(5);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
.end-image {
    position: absolute;
    left: 20%;
    top: 10%;
    width: 60vw;
    height: 78vh;
    display: flex;
    justify-content: center;
    transform: scale(170%);
    z-index: 9;
    background-color: rgba(255, 255, 255, 0.15);
    animation: stamp 3s  ; /* 애니메이션 적용 */
    animation-iteration-count: 1;
}
