.main {
  transform: rotate(0deg);
  margin: 100px;
  margin-top: 125px;
}

.parent-div {
  width: 1000px;
}

.parent-div div {
  width: 500px;
  height: 500px;
  display: block;
  margin: -1px;
  position: relative;
  border: solid 1px;
}

.part1 {
  border-radius: 100% 0 0 0;
  float: left;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.part2 {
  border-radius: 0 100% 0 0;
  float: right;
  overflow: hidden;
}
.part3 {
  border-radius: 0 0 0 100%;
  float: left;
  overflow: hidden;
}
.part4 {
  border-radius: 0 0 100% 0;
  float: right;
  overflow: hidden;
}

.parent-div div span {
  position: absolute;
  transform: rotate(-45deg);
  font-size: 24px;
}
.parent-div .part1 span {
  top: 45px;
  left: 50px;
}
.parent-div .part2 span {
  top: 50px;
  left: 35px;
}

.parent-div .part3 span {
  top: 30%;
  left: 53%;
}
.parent-div .part4 span {
  top: 31px;
  left: 33px;
}
