body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  /* background-color: #005791; */
  /* background-image: url("../public/asset/pocha.jpeg"); */
  /*background-image: url("../public/asset/room/tableCover2.png");*/
   background-image: url("../public/asset/room/background1.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: rgb(255, 85, 0); */
}
