body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.webcamRef {
  position: absolute;
  margin-top: 20vh;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 0;
  width: 800px;
  height: 600px;
  transform: rotateY(180deg);
  border-radius: 10px;
}
