body {
    /*font-family: serif !important;*/
    color: #eee;
    overflow: hidden;
    background-color: #079992;
}

a {
    color: #fff;
}

a:hover {
    color: gray;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
    font-weight: bold;
}

.header {
    position: fixed;
    width: 100%;
    left: 0;
    padding: 0 50px;
    z-index: 9;
}

.header {
    top: 0;
    padding-top: 50px;
    pointer-events: none;
}

.header:after {
    content: " ";
    width: 100%;
    height: 100px;
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#333333+0,000000+100&1+0,0+50 */
    /* background: -moz-linear-gradient(top, #222222 0%, rgba(34, 34, 34, 0) 100%); */
    /* FF3.6-15 */
    /* background: -webkit-linear-gradient(top, #222222 0%, rgba(34, 34, 34, 0) 100%); */
    /* Chrome10-25,Safari5.1-6 */
    /* background: linear-gradient(to bottom, #222222 0%, rgba(34, 34, 34, 0) 100%); */
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#222222", endColorstr="#222222",GradientType=0 );
    /* IE6-9 */
}

.header > * {
    position: relative;
    z-index: 10;
    pointer-events: all;
}

hr.small {
    width: 50px;
}
.search{
    margin-top: -20%;
    width: 430px;
    margin-left: 38%;
    border-radius: 12px;
}
.roomCreate{
    margin-left: 16.5%;
}
.roomList{
    margin-left: 38%;
    margin-bottom: 1%;
}
.svgMask {
    position: absolute;
}

.roomIf{
    margin-top: 20%;
}

.name{
    position: absolute;
    right: 15%;
    top: 0.6%;
}
.logOut{
    position: absolute;
    right: 1%;
    top: 1%;
}