.lobbyInfo {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
}
.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  padding: 0 20px;
}
.userName {
  position: absolute;
  right: 8vw;
  color: white;
}
.option {
  cursor: pointer;
  position: fixed;
  text-align: center;
  top: 11vh;
  right: 10vh;
  width: 3vw;
  height: 15vh;
  font-size: xx-large;
  writing-mode: vertical-lr;
  background-color: whitesmoke;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 5px 5px;
  font-family: "Gowun Dodum", sans-serif;
  z-index: auto;
}
.roomCreateWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  position: absolute;
  top: 30vh;
  right: 1.5vw;
  background-color: bisque;
  border-radius: 1vw;
}

/* 포차 테마일 때 배경 */
.themePocha {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: url("../../public/asset/room/theme_pocha/roomPochaBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 1s linear 0.25s;
}
