.roomCreateWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  top: 10vh;
  right: 20vw;
  background-color: bisque;
  border-radius: 1vw;
}