.roomListContainer {
  width: 900px;
  height: 800px;
  /* border: 1px solid white; */
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  box-shadow: 0 10px 35px 0 rgba(255, 255, 255, 0.7);
  font-family: "Gowun Dodum", sans-serif;
  font-size: 20px;
  color: white;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.roomListWrap {
  margin: 10px 20px;
  /* width: 50vw; */
  /* position: absolute; */
  /* top: 15vh;
  left: 31vw; */
  /* border: 3px solid black; */
  border-radius: 10px;
  padding: 5px;
  align-items: center;
  z-index: 3;
}
.roomInfo {
  /* border: 1px solid red; */
  width: 800px;
  display: flex;
  margin-bottom: 10px;
}
.roomInfo > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 37px;
  font-weight: bold;
}
.roomTitle {
  width: 300px;
  height: 50px;
}
.roomNumOfUsers {
  width: 250px;
  height: 50px;
}
.roomState {
  width: 200px;
  height: 50px;
}
.btnSpace {
  width: 100px;
  height: 50px;
}
.roomList {
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.roomList > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  /* border: 2px solid white; */
}

.roomName {
  width: 300px;
  height: 50px;
}
.roomPeople {
  width: 250px;
  height: 50px;
}
.roomStatus {
  width: 200px;
  height: 50px;
}
.roomInButton {
  margin: 0;
  width: 100px;
  height: 40px;
  background: rgba(175, 255, 144, 0.65);
  border: none;
  border-radius: 3px;
  color: #362100;
  font-size: 25px;
  cursor: pointer;
  font-family: "Gowun Dodum", sans-serif;
}
.gamePlayingButton {
  margin: 0;
  width: 100px;
  height: 40px;
  background: rgba(255, 255, 255, 0.65);
  border: none;
  border-radius: 3px;
  color: #362100;
  font-size: 25px;
  cursor: pointer;
  font-family: "Gowun Dodum", sans-serif;
}
.fullOfUsers {
  margin: 0;
  width: 100px;
  height: 40px;
  background: rgba(255, 255, 255, 0.65);
  border: none;
  border-radius: 3px;
  color: #362100;
  font-size: 25px;
  cursor: pointer;
  font-family: "Gowun Dodum", sans-serif;
}
img {
  width: 25vw;
  height: 40vh;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
