.roomListWrap {
  width: 40vw;
  position: absolute;
  top: 17vh;
  left: 40vw;
  /* border: 3px solid black; */
  border-radius: 10px;
  padding: 5px;
  align-items: center;
  z-index: 3;
}
.roomList{
  display: flex;
}
img{
  width: 500px;
  height: 400px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
.page {
  transform-origin: left center;
}
.page1 {
  position: fixed;
  top: 16vw;
  left: 25vw;  
  z-index: 1;
  scale: 200%;
  transition-delay: 0.1s;
}
