.container {
    position: fixed;
    background-color: #40A940;
    border: 1px solid #78EFAD;
    border-radius: 12px;
    padding: 20px;
    width: 400px;
    height: 300px;
    top: 35%;
    left: 37%;
    
}