.webcamRef {
    position:fixed;
    top:30px;
    left: 30px;
    width: 960px;
    height: 720px;
    transform: rotateY(180deg);
}

.webcamRefz {
    position:fixed;
    top:30px;
    left: 30px;
    width: 960px;
    height: 720px;
    z-index: 0;
    transform: rotateY(180deg);
}