.canvasBallRef {
    margin: 0;
    position: absolute;
    margin-top: 20vh;
    margin-left: 10%;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 0;
    width: 960px;
    height: 720px;
    transform: rotateY(180deg);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
}