.canvasBallRef {
  position: fixed;
  top: 10vh;
  left: 10vw;
  width: 960px;
  height: 600px;
  transform: rotateY(180deg);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
}

.score {
  position: fixed;
  top: 3vh;
  left: 23vw;
  font-size: 30px;
  font-weight: 700;
}
