/* GlobalStyles.css */
@import url("https://fonts.googleapis.com/css?family=Lato");

/* Container.css */
.container {
  /* position: fixed; */
  position: absolute;
  border-radius: 10px;
  background-color: lightgrey;
  padding: 20px;
  top: 35%;
  left: 2%;
  /* left: 7%; */
  max-width: 150px;
  color: black;
}
.CherryBlossom {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.container button {
  border-radius: 4px;
  font-size: 16px;
  padding: 8px;
  text-align: center;
  width: 100%;
}

.container h2 {
  margin-top: 0;
}

.container label {
  display: block;
  font-weight: bold;
  margin-bottom: 4px;
}

.container select,
.container textarea {
  font-size: 16px;
  margin-bottom: 12px;
  width: 100%;
}

.container textarea {
  border: 1px solid darkgrey;
  border-radius: 10px;
  /* padding: 8px; */
  resize: none;
}
/* App.css */
.App {
  text-align: center;
}

/* Row.css */
.Row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Title.css */
.Title {
  text-align: center;
}

.speechWord {
  position: fixed;
  top: 4vh;
  left: 22.5vw;
  width: 1800px;
  height: 100px;
  font-size: 70px;
  color: white;
  background-color: rgba(54, 39, 110, 0.3);
  border-radius: 10px;
}
.extractedValue{
  position: fixed;
  left: 5vh;
  top: 50vh;
  font-size: 40px;
  color: white;
}
