.videoCanvas {
    position: fixed;
    margin-right: auto;
    left: 10%;
    top: 10%;
    z-index: 0;
    width: 960px;
    height: 720px;
    transform: rotateY(180deg);
    border-radius: 10px;
}

.duckCanvas{
    position: absolute;
    margin-top: 7%;
    margin-left: 10%;
    margin-right: auto;
    left: 0;
    top: 0%;
    right: 0;
    z-index: 2;
    width: 960px;
    height: 720px;
    transform: rotateY(180deg);
    border-radius: 10px;
}

.bord{
    position: fixed;
    top: 1%;
    left: 35%;
}