.gameWord{
  position: absolute;
  left: 7%;
  top: 22%;
  width: 1000px;
  z-index: 1;
  text-align: center;
}
.speechPosition{
  position: absolute;
  left: 65%;
  top: 70%;
  width: 800px;
  text-align: center;
  transform: scale(60%);
}
.text{
  position: fixed;
  top : 1%;
  left: 21%;
  display: none;
}
.speechGameCam__0{
  position: fixed;
  top: 27%;
  left: 16%;
  transform: scale(170%);
}
.speechGameCam__1{
  position: absolute;
  left: 55%;
  top: -3.5%;
  transform: scale(47%);
}
.speechGameCam__2{
  position: absolute;
  left: 73%;
  top: -3.5%;
  transform: scale(47%);
}
.speechGameCam__3{
  position: absolute;
  left: 55%;
  top: 23.5%;
  transform: scale(47%);
}
.speechGameCam__4{
  position: absolute;
  left: 73%;
  top: 23.5%;
  transform: scale(47%);
}
.speechGameCam__5{
  position: absolute;
  left: 55%;
  top: 50.5%;
  transform: scale(47%);
}