.hidden{
  display: none;
}
.gameWord {
  position: fixed;
  left: 30vw;
  top: 13vh;
  width: 40vw;
  height: 4vh;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 10px;
}
.speechPosition {
  position: absolute;
  left: 65%;
  top: 70%;
  width: 800px;
  text-align: center;
  transform: scale(60%);
}

.speechGameCam__1 {
  transform: rotateY(180deg);
  position: fixed;
  top: 10vh;
  left: 3vw;
}
.speechGameCam__2 {
  transform: rotateY(180deg);
  position: fixed;
  top: 39.25vh;
  left: 3vw;
}
.speechGameCam__3 {
  transform: rotateY(180deg);
  position: fixed;
  top: 68.5vh;
  left: 3vw;
}
.speechGameCam__4 {
  transform: rotateY(180deg);
  position: fixed;
  top: 10vh;
  left: 81vw;
}
.speechGameCam__5 {
  transform: rotateY(180deg);
  position: fixed;
  top: 40vh;
  left: 81vw;
}

.userNick1 {
  position: fixed;
  top: 32vh;
  left: 3vw;
}
.userNick2 {
  position: fixed;
  top: 62vh;
  left: 3vw;
}
.userNick3 {
  position: fixed;
  top: 92vh;
  left: 3vw;
}
.userNick4 {
  position: fixed;
  top: 32vh;
  left: 81vw;
}
.userNick5 {
  position: fixed;
  top: 62vh;
  left: 81vw;
}
