.countDown {
    position: fixed;
    z-index: 9;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%) scale(180%);
    width: 35vw;  /*승규 형 나중에 고쳐주세요 */
    height: 48vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    background-size: cover;
}

.loading-image {
    width: 100%;
    height: auto;
}
