.main {
  transform: rotate(0deg);
  margin-top: -6%;
  margin-left: 30%;
}

.parentDiv {
  width: 900px;
}

.parentDiv div {
  width: 450px;
  height: 450px;
  display: block;
  margin: -1px;
  position: relative;
  border: solid 1px;
}

.part1 {
  border-radius: 100% 0 0 0;
  float: left;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.part2 {
  border-radius: 0 100% 0 0;
  float: right;
  overflow: hidden;
}
.part3 {
  border-radius: 0 0 0 100%;
  float: left;
  overflow: hidden;
}
.part4 {
  border-radius: 0 0 100% 0;
  float: right;
  overflow: hidden;
}

.parentDiv div span {
  position: absolute;
  transform: rotate(-45deg);
  font-size: 24px;
}
.parentDiv .part1 span {
  top: 45px;
  left: 50px;
}
.parentDiv .part2 span {
  top: 50px;
  left: 35px;
}

.parentDiv .part3 span {
  top: 30%;
  left: 53%;
}
.parentDiv .part4 span {
  top: 31px;
  left: 33px;
}
