.hidden {
  display: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* 포차 테마일 때 배경 */
.themePocha {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: url("../../public/asset/room/theme_pocha/roomPochaBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 1s linear 0.25s;
}
/* 바 테마일 때 배경 */
.themeBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: url("../../public/asset/room/theme_bar/roomBarBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 1s linear 0.25s;
}
/* 이자카야 테마일 때 배경 */
.themeIzakaya {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-image: url("../../public/asset/room/theme_izakaya/roomIzakayaBackground2.png");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 1s linear 0.25s;
}
/* 포차 테마일 때 소품 */
.themePochaItem {
  width: 400px;
  height: 400px;
  position: fixed;
  z-index: 1;
  top: 57vh;
  left: 3vw;
  background-image: url("../../public/asset/room/theme_pocha/pocha.png");
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 1s linear 0.25s;
  animation: ani 1s infinite alternate;
  cursor: pointer;
}

.themePochaItem:hover {
  animation: grow 1300ms ease infinite;
}

/* 바 테마일 때 소품 */
.themeBarItem {
  width: 400px;
  height: 400px;
  position: fixed;
  z-index: 1;
  top: 57vh;
  left: 3vw;
  background-image: url("../../public/asset/room/theme_bar/restaurent.png");
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 1s linear 0.25s;
  animation: ani 1s infinite alternate;
  cursor: pointer;
}

.themeBarItem:hover {
  animation: grow 1300ms ease infinite;
}
/* 이자카야 테마일 때 소품 */
.themeIzakayaItem {
  width: 400px;
  height: 400px;
  position: fixed;
  z-index: 1;
  top: 57vh;
  left: 3vw;
  background-image: url("../../public/asset/room/theme_izakaya/ramen.png");
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 1s linear 0.25s;
  animation: ani 1s infinite alternate;
  cursor: pointer;
  
}
.themeIzakayaItem:hover {
  animation: grow 1300ms ease infinite;
}

.camMainWrap {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 100vh;
}

.camMainHeader {
  color: white;
  width: 100vw;
  height: 5vh;
  /* border: 1px solid black; */
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.camMainHeader > * {
  padding-right: 50px;
}

.camAndVoice {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.ReturnRoom {
  position: absolute;
  top: 2.5%;
  right: 1%;
  z-index: 10;
}

.gameListWrap {
  margin: 0;
  padding: 0;
  border-radius: 3px;
  position: fixed;
  top: 7vh;
  right: 2vw;
  padding-top: 3vh;
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /* background-color: antiquewhite; */
  /* background-image: url("../../public/asset/gameMenuBackground.png"); */
  /* background-image: url("../../public/asset/room/menu4.png"); */
  background-repeat: no-repeat;
  background-size: contain;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  background: rgba(0, 0, 0, 0.15);
}

.gameMenu {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  /* box-shadow: 3px 3px rgba(0, 0, 0, 0.3); */
  font-family: "Gowun Dodum", sans-serif;
  font-size: 50px;
  font-weight: bolder;
  color: white;
}

.gameButtons {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 3vh 0;
}

.eachGameMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.gameName {
  writing-mode: vertical-lr;
  font-family: "Gowun Dodum", sans-serif;
  font-size: 50px;
  color: white;
  height: 250px;
  text-align: center;
  font-weight: bold;
}

.modalArrowText {
  position: relative;
  top: 85vh;
  left: 10vw;
  height: 10vh;
  width: 15vw;
}

.modalArrow {
  background-image: url("../../public/asset/room/modal/modalArrow3.png");
  position: fixed;
  top: 87vh;
  left: 5vw;
  height: 8vh;
  width: 8vw;
  background-repeat: no-repeat;
  background-size: contain;
}

.modalText {
  color: white;
  position: fixed;
  top: 91vh;
  left: 10vw;
  font-size: 40px;
  font-family: "Gowun Dodum", sans-serif;
}
.nickName {
  position: fixed;
  top: 0vh;
  right: 10vw;
  color: white;
}

@keyframes ani {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 10px);
  }
}

@keyframes grow {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(1.1);
  }
  28% {
    transform: scale(1);
  }
  42% {
    transform: scale(1.1);
  }
  70% {
    transform: scale(1);
  }
}

.gameButton {
  width: 45px;
  height: 45px;
  z-index: 1;
  background-image: url("../../public/asset/room/gameButton.png");
  background-repeat: no-repeat;
  background-size: cover;
}
