.roomCam {
  transform: rotateY(180deg);
}

.videoCanvas {
  position: absolute;
  margin-top: 20vh;
  margin-left: 10%;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 0;
  width: 960px;
  height: 720px;
  transform: rotateY(180deg);
  border-radius: 10px;
}

.paddle {
  width: 960px;
  height: 720px;
}

.webcam1__0 {
  position: absolute;
  top: -2%; /* 위쪽으로부터의 거리 */
  left: -14%; /* 왼쪽으로부터의 거리 */
  width: 960px;
  height: 720px;
  transform: rotateY(180deg);
  object-fit: contain;
}
.webcam2__0 {
  position: absolute;
  top: 0px; /* 위쪽으로부터의 거리 */
  left: 3%; /* 왼쪽으로부터의 거리 */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 960px;
  height: 720px;
  transform: rotateY(180deg);
}
.webcam2__1 {
  position: absolute;
  top: 0px; /* 위쪽으로부터의 거리 */
  left: -30%; /* 왼쪽으로부터의 거리 */
  width: 960px;
  height: 720px;
  transform: rotateY(180deg);
  object-fit: contain;
}
.webcam3__0 {
  position: absolute;
  top: -15%; /* 위쪽으로부터의 거리 */
  left: 5%; /* 왼쪽으로부터의 거리 */
  width: 960px;
  height: 720px;
  transform: rotateY(180deg) scale(75%);
}
.webcam3__1 {
  position: absolute;
  top: 21%; /* 위쪽으로부터의 거리 */
  left: -19%; /* 왼쪽으로부터의 거리 */
  width: 960px;
  height: 720px;
  transform: rotateY(180deg) scale(75%);
}
.webcam3__2 {
  position: absolute;
  top: -15%; /* 위쪽으로부터의 거리 */
  left: -42%; /* 왼쪽으로부터의 거리 */
  width: 960px;
  height: 720px;
  transform: rotateY(180deg) scale(75%);
}
.webcam4__0 {
  position: absolute;
  top: -27%; /* 위쪽으로부터의 거리 */
  left: 3%; /* 왼쪽으로부터의 거리 */
  width: 960px;
  height: 720px;
  transform: rotateY(180deg) scale(60%);
}
.webcam4__1 {
  position: absolute;
  top: 18%; /* 위쪽으로부터의 거리 */
  left: 3%; /* 왼쪽으로부터의 거리 */
  width: 960px;
  height: 720px;
  transform: rotateY(180deg) scale(60%);
}
.webcam4__2 {
  position: absolute;
  top: 18%; /* 위쪽으로부터의 거리 */
  left: -39%; /* 왼쪽으로부터의 거리 */
  width: 960px;
  height: 720px;
  transform: rotateY(180deg) scale(60%);
}
.webcam4__3 {
  position: absolute;
  top: -27%; /* 위쪽으로부터의 거리 */
  left: -40%; /* 왼쪽으로부터의 거리 */
  width: 960px;
  height: 720px;
  transform: rotateY(180deg) scale(60%);
}
.webcam5__0 {
  position: absolute;
  top: -30%; /* 위쪽으로부터의 거리 */
  left: -3%; /* 왼쪽으로부터의 거리 */
  width: 960px;
  height: 720px;
  transform: rotateY(180deg) scale(55%);
}
.webcam5__1 {
  position: absolute;
  top: 11%; /* 위쪽으로부터의 거리 */
  left: 10%; /* 왼쪽으로부터의 거리 */
  width: 960px;
  height: 720px;
  transform: rotateY(180deg) scale(55%);
}
.webcam5__2 {
  position: absolute;
  top: 21%; /* 위쪽으로부터의 거리 */
  left: -20%; /* 왼쪽으로부터의 거리 */
  width: 960px;
  height: 720px;
  transform: rotateY(180deg) scale(55%);
}
.webcam5__3 {
  position: absolute;
  top: 11%; /* 위쪽으로부터의 거리 */
  left: -47%; /* 왼쪽으로부터의 거리 */
  width: 960px;
  height: 720px;
  transform: rotateY(180deg) scale(55%);
}
.webcam5__4 {
  position: absolute;
  top: -29%; /* 위쪽으로부터의 거리 */
  left: -35%; /* 왼쪽으로부터의 거리 */
  width: 960px;
  height: 720px;
  transform: rotateY(180deg) scale(55%);
}
.webcam6__0 {
  position: absolute;
  top: -27%; /* 위쪽으로부터의 거리 */
  left: -6%; /* 왼쪽으로부터의 거리 */
  width: 960px;
  height: 720px;
  transform: rotateY(180deg) scale(50%);
}
.webcam6__1 {
  position: absolute;
  top: -2%; /* 위쪽으로부터의 거리 */
  left: 13%; /* 왼쪽으로부터의 거리 */
  width: 960px;
  height: 720px;
  transform: rotateY(180deg) scale(50%);
}
.webcam6__2 {
  position: absolute;
  top: 24%; /* 위쪽으로부터의 거리 */
  left: -3%; /* 왼쪽으로부터의 거리 */
  width: 960px;
  height: 720px;
  transform: rotateY(180deg) scale(50%);
}
.webcam6__3 {
  position: absolute;
  top: 24%; /* 위쪽으로부터의 거리 */
  left: -36%; /* 왼쪽으로부터의 거리 */
  width: 960px;
  height: 720px;
  transform: rotateY(180deg) scale(50%);
}
.webcam6__4 {
  position: absolute;
  top: -2%; /* 위쪽으로부터의 거리 */
  left: -52%; /* 왼쪽으로부터의 거리 */
  width: 960px;
  height: 720px;
  transform: rotateY(180deg) scale(50%);
}
.webcam6__5 {
  position: absolute;
  top: -27%; /* 위쪽으로부터의 거리 */
  left: -32%; /* 왼쪽으로부터의 거리 */
  width: 960px;
  height: 720px;
  transform: rotateY(180deg) scale(50%);
}
.rouletteVideo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 960px;
  height: 720px;
  transform: rotateY(180deg);
}

.avoidGameSub {
  width: 16vw;
  height: auto;
}

.speechGameMain {
  position: fixed;
  top: 10vh;
  left: 22vw;
  width: 56vw;
  height: 42vw;
  transform: rotateY(180deg);
}

.speechGameSub {
  width: 16vw;
  height: auto;
}
