.roomCam {
  transform: rotateY(180deg);
}

.videoCanvas {
  position: absolute;
  margin-top: 20vh;
  margin-left: 10%;
  margin-right: auto;
  left: 0;
  right: 0;
  z-index: 0;
  width: 800px;
  height: 600px;
  transform: rotateY(180deg);
  border-radius: 10px;
}

.paddle {
  width: 800px;
  height: 600px;
}
.webcam {
  position: absolute;
  top: 7%; /* 위쪽으로부터의 거리 */
  left: -10%; /* 왼쪽으로부터의 거리 */
  width: 800px;
  height: 600px;
  transform: scale(117%);
  object-fit: contain;
}
.webcam1__0 {
  position: absolute;
  top: 7%; /* 위쪽으로부터의 거리 */
  left: -10%; /* 왼쪽으로부터의 거리 */
  width: 800px;
  height: 600px;
  transform: rotateY(180deg) scale(117%);
  object-fit: contain;
}
.webcam2__0 {
  position: absolute;
  top: 7%; /* 위쪽으로부터의 거리 */
  left: 12%; /* 왼쪽으로부터의 거리 */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 600px;
  transform: rotateY(180deg) scale(117%);
}
.webcam2__1 {
  position: absolute;
  top: 7%; /* 위쪽으로부터의 거리 */
  left: -28%; /* 왼쪽으로부터의 거리 */
  width: 800px;
  height: 600px;
  transform: rotateY(180deg) scale(117%);
  object-fit: contain;
}
.webcam3__0 {
  position: absolute;
  top: -5%; /* 위쪽으로부터의 거리 */
  left: 5%; /* 왼쪽으로부터의 거리 */
  width: 800px;
  height: 600px;
  transform: rotateY(180deg) scale(88%);
}
.webcam3__1 {
  position: absolute;
  top: 35%; /* 위쪽으로부터의 거리 */
  left: -12%; /* 왼쪽으로부터의 거리 */
  width: 800px;
  height: 600px;
  transform: rotateY(180deg) scale(88%);
}
.webcam3__2 {
  position: absolute;
  top: -5%; /* 위쪽으로부터의 거리 */
  left: -35%; /* 왼쪽으로부터의 거리 */
  width: 800px;
  height: 600px;
  transform: rotateY(180deg) scale(88%);
}
.webcam4__0 {
  position: absolute;
  top: -20%; /* 위쪽으로부터의 거리 */
  left: 12%; /* 왼쪽으로부터의 거리 */
  width: 800px;
  height: 600px;
  transform: rotateY(180deg) scale(70%);
}
.webcam4__1 {
  position: absolute;
  top: 27%; /* 위쪽으로부터의 거리 */
  left: 12%; /* 왼쪽으로부터의 거리 */
  width: 800px;
  height: 600px;
  transform: rotateY(180deg) scale(70%);
}
.webcam4__2 {
  position: absolute;
  top: 27%; /* 위쪽으로부터의 거리 */
  left: -27%; /* 왼쪽으로부터의 거리 */
  width: 800px;
  height: 600px;
  transform: rotateY(180deg) scale(70%);
}
.webcam4__3 {
  position: absolute;
  top: -20%; /* 위쪽으로부터의 거리 */
  left: -27%; /* 왼쪽으로부터의 거리 */
  width: 800px;
  height: 600px;
  transform: rotateY(180deg) scale(70%);
}
.webcam5__0 {
  position: absolute;
  top: -20%; /* 위쪽으로부터의 거리 */
  left: 10%; /* 왼쪽으로부터의 거리 */
  width: 800px;
  height: 600px;
  transform: rotateY(180deg) scale(66.5%);
}
.webcam5__1 {
  position: absolute;
  top: 19%; /* 위쪽으로부터의 거리 */
  left: 18%; /* 왼쪽으로부터의 거리 */
  width: 800px;
  height: 600px;
  transform: rotateY(180deg) scale(66.5%);
}
.webcam5__2 {
  position: absolute;
  top: 30%; /* 위쪽으로부터의 거리 */
  left: -10%; /* 왼쪽으로부터의 거리 */
  width: 800px;
  height: 600px;
  transform: rotateY(180deg) scale(66.5%);
}
.webcam5__3 {
  position: absolute;
  top: 19%; /* 위쪽으로부터의 거리 */
  left: -40%; /* 왼쪽으로부터의 거리 */
  width: 800px;
  height: 600px;
  transform: rotateY(180deg) scale(66.5%);
}
.webcam5__4 {
  position: absolute;
  top: -20%; /* 위쪽으로부터의 거리 */
  left: -24%; /* 왼쪽으로부터의 거리 */
  width: 800px;
  height: 600px;
  transform: rotateY(180deg) scale(66.5%);
}
.webcam6__0 {
  position: absolute;
  top: -18.5%; /* 위쪽으로부터의 거리 */
  left: 3%; /* 왼쪽으로부터의 거리 */
  width: 800px;
  height: 600px;
  transform: rotateY(180deg) scale(60%);
}
.webcam6__1 {
  position: absolute;
  top: 6.3%; /* 위쪽으로부터의 거리 */
  left: 22%; /* 왼쪽으로부터의 거리 */
  width: 800px;
  height: 600px;
  transform: rotateY(180deg) scale(60%);
}
.webcam6__2 {
  position: absolute;
  top: 31.5%; /* 위쪽으로부터의 거리 */
  left: 3%; /* 왼쪽으로부터의 거리 */
  width: 800px;
  height: 600px;
  transform: rotateY(180deg) scale(60%);
}
.webcam6__3 {
  position: absolute;
  top: 31.5%; /* 위쪽으로부터의 거리 */
  left: -23%; /* 왼쪽으로부터의 거리 */
  width: 800px;
  height: 600px;
  transform: rotateY(180deg) scale(60%);
}
.webcam6__4 {
  position: absolute;
  top: 6.3%; /* 위쪽으로부터의 거리 */
  left: -40%; /* 왼쪽으로부터의 거리 */
  width: 800px;
  height: 600px;
  transform: rotateY(180deg) scale(60%);
}
.webcam6__5 {
  position: absolute;
  top: -18.5%; /* 위쪽으로부터의 거리 */
  left: -23%; /* 왼쪽으로부터의 거리 */
  width: 800px;
  height: 600px;
  transform: rotateY(180deg) scale(60%);
}
.rouletteVideo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 800px;
  height: 600px;
  transform: rotateY(180deg);
}

.avoidGameSub {
  width: 16vw;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 3%;
  background-color: transparent;
}

.avoidGameSubCan {
  width: 16vw;
  height: 11vw;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 3%;
  background-color: transparent;
}

.avoidGameSubHp {
  transform: scale(-1, 1);
}

.centerCam {
  position: fixed;
  top: 10vh;
  left: 22vw;
  width: 56vw;
  height: 42vw;
  transform: rotateY(180deg);
  border-radius: 3%;
  background-color: transparent;
}

.speechGameSub {
  width: 16vw;
  height: auto;
  border-radius: 3%;
  background-color: transparent;
}
/* */

.somaekGameSub {
  width: 16vw;
  height: auto;
  top: 0;
  left: 0;
  border-radius: 3%;
  background-color: transparent;
}

.somaekGameSubCan {
  width: 16vw;
  height: 11vw;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 3%;
  background-color: transparent;
}
